* {
box-sizing:border-box;
}

body{
  background-image: linear-gradient(to right, red , yellow);
}

button {
padding:5px 20px;
color:orange;
margin:10px 5px;
cursor:pointer;
box-shadow: 3px 5px gray;
}

button:hover {
  box-shadow: 2px 2px 5px #fff;
}

.img {
margin:0 auto;
text-align:center;
}

#myImage {
  border:2px dotted white;
}
